.triangle_editor {
  margin-left: 5px;
  display: flex;
  justify-content: center;

  .coordinate_input {
    display: flex;
    align-items: center;
    margin-top: 5px;

    .point_label {
      margin-right: 15px;
      font-weight: bold;
      font-size: 18px;
    }
  }

  p {
    margin: 5px;
  }
}
